/* Al Label */

.almg-label {
  display: block;
  font-size: var(--font-size-almg-sm);
  font-weight: var(--font-weight-almg-medium);
  color: var(--color-almg-brand-font-primary);
  line-height: var(--line-height-almg-normal);
}

.almg-label--required::after {
  content: " *";
  color: var(--color-almg-brand-primary);
}
