/* Al Design System — Tokens de Borda */

@theme {
  --border-radius-almg-sm: 0.25rem;
  --border-radius-almg-md: 0.375rem;
  --border-radius-almg-lg: 0.5rem;
  --border-radius-almg-full: 9999px;

  --border-width-almg-default: 1px;
  --border-width-almg-2: 2px;
}
