/* Al Design System — Escala de Espaçamento (12 valores padrão)
   Valores: 0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20 */

@theme {
  --spacing-almg-0: 0px;
  --spacing-almg-1: 4px;
  --spacing-almg-2: 8px;
  --spacing-almg-3: 12px;
  --spacing-almg-4: 16px;
  --spacing-almg-5: 20px;
  --spacing-almg-6: 24px;
  --spacing-almg-8: 32px;
  --spacing-almg-10: 40px;
  --spacing-almg-12: 48px;
  --spacing-almg-16: 64px;
  --spacing-almg-20: 80px;
}
