/* Al Design System — Classes de Intenção
   Primary = Verde, Secondary = Cinza, Danger = Vermelho, Warning = Laranja */

.almg-intent-primary {
  --almg-intent-color: var(--color-almg-green-400);
  --almg-intent-color-light: var(--color-almg-green-100);
  --almg-intent-color-dark: var(--color-almg-green-800);
}

.almg-intent-secondary {
  --almg-intent-color: var(--color-almg-gray-500);
  --almg-intent-color-light: var(--color-almg-gray-100);
  --almg-intent-color-dark: var(--color-almg-gray-800);
}

.almg-intent-danger {
  --almg-intent-color: var(--color-almg-red-500);
  --almg-intent-color-light: var(--color-almg-red-100);
  --almg-intent-color-dark: var(--color-almg-red-800);
}

.almg-intent-warning {
  --almg-intent-color: var(--color-almg-orange-500);
  --almg-intent-color-light: var(--color-almg-orange-100);
  --almg-intent-color-dark: var(--color-almg-orange-800);
}
