/* Al Mensagem de Erro */

.al-error-message {
  display: block;
  font-size: var(--font-size-al-xs);
  color: var(--color-al-danger);
  margin-top: 4px;
  line-height: var(--line-height-al-normal);
}

/* Quando o erro está posicionado à direita, remove a margem superior e adiciona margem esquerda */
.al-error-right .al-error-message {
  margin-top: 0;
  margin-left: 8px;
  white-space: nowrap;
}
