/* Al Label */

.al-label {
  display: block;
  font-size: var(--font-size-al-sm);
  font-weight: var(--font-weight-al-medium);
  color: var(--color-al-brand-font-primary);
  line-height: var(--line-height-al-normal);
}

.al-label--required::after {
  content: " *";
  color: var(--color-al-brand-primary);
}
