/* Al Spinner */

.almg-spinner {
  display: inline-block;
  border: 2px solid var(--color-almg-brand-secondary);
  border-top-color: var(--color-almg-brand-primary);
  border-radius: 50%;
  animation: almg-spin 0.6s linear infinite;
}

.almg-spinner--sm {
  width: 16px;
  height: 16px;
}

.almg-spinner--md {
  width: 24px;
  height: 24px;
}

.almg-spinner--lg {
  width: 32px;
  height: 32px;
}

@keyframes almg-spin {
  to { transform: rotate(360deg); }
}
